<!-- workspace_wrap -->
<div class="workspace_wrap">
    <!-- workspace -->
    <div class="workspace">
        <!-- workspace_wrap -->
        <!-- workspace_toolbar
        <div class="workspace_toolbar">Hi there. I'm a toolbar.</div>  -->
        <!-- eof workspace_toolbar -->
        <!-- dropzone -->
        <div class="dropzone">
            <div class="dropzone_title">Columns</div>
            <div class="dropzone_area">
                <div class="dropzone_columns">
                    <ul>
                        <li class="placeholder">Drop fields here</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="dropzone rows">
            <div class="dropzone_title">Rows</div>
            <div class="dropzone_area">
                <div class="dropzone_rows">
                    <ul>
                        <li class="placeholder">Drop fields here</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="dropzone filters">
            <div class="dropzone_title">Filters</div>
            <div class="dropzone_area">
                <div class="dropzone_filters">
                    <ul>
                        <li class="placeholder">Drop fields here</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <!-- eof dropzone -->
    </div>
    <!-- eof workspace -->
</div>
<!-- eof workspace_wrap -->
<!-- sidebar -->
<div class="sidebar">
    <h3 class="top">Cubes</h3>
    <div class="sidebar_inner">
        <select class="cubes">
            <option>Select a cube</option>
        </select>
    </div>
    <h3>Dimensions</h3>
    <div class="sidebar_inner">
        <div class="dimensions_tree"></div>
    </div>
    <h3>Measures</h3>
    <div class="sidebar_inner">
        <div class="measures_tree"></div>
    </div>
</div>
<div class="sidebar_toggler">&nbsp;</div>
<!-- eof sidebar -->