<!-- tab_body -->
<div class="tab_body">
    <!-- tab_top -->
    <div class="tab_top">
        <!-- tab_toolbar -->
        <div class="tab_toolbar">
            <span class="saving_message quiet">Saving query ... Saved</span>
            <a class="button">Show Axis</a>
            <a class="button">Show Filters</a>
            <a class="button">Swap Axis</a>
            <a class="button">Visualise</a>
            <a class="button">Export</a>
        </div>
    </div>
    <!-- eof tab_toolbar -->
    <!-- eof tab_top -->
    <!-- tab_bottom -->
    <div class="tab_bottom tab_scroll_content">
        <!-- col_axis -->
        <div class="col_axis">
            <div class="axis_title">
                Column Axis
            </div>
            <!-- col_axis_drop -->
            <div class="col_axis_drop">
                <span class="item measure">Measure</span>
                <span class="item dimension">Dimension</span>
            </div>
            <!-- eof col_axis_drop -->
            <div class="clear"></div>
        </div>
        <!-- eof col_axis -->
        <!-- row_axis -->
        <div class="row_axis">
            <div class="axis_title">
                Row Axis
            </div>
            <!-- row_axis_drop -->
            <div class="row_axis_drop">
                <span class="row_placeholder">Drop row axis fields here</span>
            </div>
            <!-- eof row_axis_drop -->
            <div class="clear"></div>
        </div>
        <!-- eof row_axis -->
        <!-- filter_axis -->
        <div class="filter_axis">
            <div class="axis_title">
                Filter Axis
            </div>
            <!-- filter_axis_drop -->
            <div class="filter_axis_drop">
                <span class="filter_placeholder">Drop row axis fields here</span>
            </div>
            <!-- eof filter_axis_drop -->
            <div class="clear"></div>
        </div>
        <!-- eof filter_axis -->
        <!-- vis -->
        <div class="vis">
        </div>
        <!-- eof vis -->
    </div>
</div>
<!-- eof tab_bottom -->
<!-- sidebar -->
<div class="sidebar">
    <span class="section_header top">Data</span>
    <p class="bottom">
        <select class="data_list">
            <option>Select a cube</option>
        </select>
    </p>
    <span class="section_header">Dimensions</span>
    <!-- dimensions -->
    <div class="dimensions">
        <!-- eof dimension_tree -->
        <div class="dimensions_tree">
        </div>
        <!-- eof dimension_tree -->
    </div>
    <!-- eof dimensions -->
    <span class="section_header">Measures</span>
    <!-- measures -->
    <div class="measures">
        <!-- measure_tree -->
        <div class="measures_tree">
        </div>
        <!-- eof measure_tree -->
    </div>
    <!-- eof measures -->
</div>
<!-- eof sidebar -->