<div class="sidebar">
    <span class="section_header top">Data</span>
    <p class="bottom">
        <select class="data_list">
            <option>Select a cube</option>
        </select>
    </p>
    <span class="section_header">Dimensions</span>
    <div class="dimensions">
        <div class="dimensions_tree"></div>
    </div>
    <span class="section_header">Measures</span>
    <div class="measures">
        <div class="measures_tree"></div>
    </div>
</div>

<div class="workspace">
    <div class="tab_top">
        <div class="tab_toolbar">
            <a class="button">Show Axis</a>
            <a class="button">Show Filters</a>
            <a class="button">Swap Axis</a>
            <a class="button">Visualise</a>
            <a class="button">Export</a>
        </div>
    </div>
    <div class="tab_bottom tab_scroll_content">
        <div class="col_axis">
            <div class="axis_title">
                Column Axis
            </div>
            <div class="col_axis_drop">
                <span class="item measure">Measure</span>
                <span class="item dimension">Dimension</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="row_axis">
            <div class="axis_title">
                Row Axis
            </div>
            <div class="row_axis_drop">
                <span class="row_placeholder">Drop row axis fields here</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="filter_axis">
            <div class="axis_title">
                Filter Axis
            </div>
            <div class="filter_axis_drop">
                <span class="filter_placeholder">Drop row axis fields here</span>
            </div>
            <div class="clear"></div>
        </div>
        <div class="vis"></div>
    </div>
</div>

<div class="status_bar">
</div>