/*
 *  Document:    PATui v1.0 CSS
 *  Description: Default PATui theme
 *
 *  Layout
 *  ---------------------------------------------------
 *  $_globals
 *  $_header
 *  $_toolbar
 *  $_wrapper
 *  $_tab_panel
 *  $_tab_list
 *  $_tab_content
 *  $_tab_body
 *  $_tab_top
 *  $_tab_toolbar
 *  $_tab_bottom
 *  $_col_axis, $_row_axis, $filter_axis
 *  $_col_axis_drop, $_row_axis_drop, $filter_axis_drop
 *
 *  Plugins
 *  ---------------------------------------------------
 *  $_jquery_ui_layout
 *  $_jquery_ui_blockui
 *  $_dialogs
 *  $_jquery_alerts
 *  $_jstree
 *
 *  TODO
 *  ---------------------------------------------------
 *  TODO - Use sprites
 *
*/


/*  $_globals   */

.hide {
    display: none !important;
}
.saving_message {
    color: #777;
    padding: 2px 5px;
}

/* buttons */
a.button {
    background: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9));
    /*background: url('../../images/global/button_bg.png') repeat-x 0 0;*/
    border: 1px #d5d5d5 solid;
    color: #222;
    cursor: pointer;
    display: inline-block;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
a.button:hover{
    background: -moz-linear-gradient(top, #e9e9e9 0%, #ffffff  100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#ffffff));
    /* background: url('../../images/global/button_hover_bg.png') repeat-x 0 0;*/
    cursor: pointer;
    text-decoration:none;
}

/*  $_header    */

/*  $_toolbar    */

#toolbar {
    background: url('../../images/toolbar/header_bg.png') repeat-x 0 0;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
    border-bottom: 1px solid #d5d5d5;
    font-size: 0.8em;
    height: 26px;
    margin: 0;
    padding: 10px;
    list-style-type: none;
}
#toolbar li {
    display: inline-block;
    float: left;
    padding: 0 5px;
    text-align: center;
}
#toolbar li a {
    text-decoration: none;
}
/* Used for separators for button groups */
#toolbar li.separator {
    background: #d5d5d5;
    font-size: 0;
    height: 26px;
    margin: 0 10px;
    padding: 0;
    width: 1px;
}
/* Used to disable images when inactive */
#toolbar li img.disabled {
    filter: alpha(opacity=30);
    opacity: 0.30;
}

/*  $_wrapper   */

/*  $_tab_panel */

/*
 *  $_tab_list
 *  TODO - $_tab_list Remove hacks
*/

#tab_list  {
    background: #f0f0f0;
    padding-top: 2px;
    padding-top: 2px\0/; /* IE8 hack */
    height: 29px;
}
#tab_list,
x:-moz-any-link,
x:default {
    background: #f0f0f0;
    padding-top: 1px;
    height: 30px;

}
#tab_list ul {
    border-bottom: 1px solid #d5d5d5;
    list-style-type: none;
    margin: 0;
    padding: 5px 4px 2px 10px;
    height: 18px;
}
#tab_list ul,
x:-moz-any-link,
x:default {
    border-bottom: 1px solid #d5d5d5;
    list-style-type: none;
    margin: 0;
    padding: 5px 4px 3px 10px;
    height: 18px;
}
#tab_list ul li {
    display: inline;
    padding-left: 2px;
}
#tab_list ul li a {
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    border-bottom: none;
    color: #666;
    cursor: pointer;
    outline: none !important;
    padding: 4px 6px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}
#tab_list ul li a:hover {
    background: url('../../images/tab/tab_list_a_bg.png') repeat-x 0 0;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    color: #222;
    cursor: pointer;
    padding: 4px 6px 4px 6px;
}
#tab_list ul li.ui-tabs-selected a {
    border-bottom: 1px solid #f0f0f0 !important;
    background: url('../../images/tab/tab_list_a_bg.png') repeat-x 0 0;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    color: #222;
    cursor: default;
    font-weight: bold;
    padding: 4px 6px;
    border-bottom: none;
}
#tab_list ul li.active a:hover {
    border-bottom: none;
    padding: 4px 6px 5px 6px;
}
#tab_list ul li img {
    cursor: pointer;
    padding-left: 2px;
}

/*  $_tab_content   */

#tab_content {
    background: url("../../images/global/logo.png") no-repeat scroll 50% 40% transparent;
    border-top: 1px solid #d5d5d5;
    text-align: left;
}
/* Needed by jQuery UI Tabs */
#tab_content .ui-tabs-hide {
    display: none;
}
/* Needed by jQuery UI Layout for tab layout containers */
#tab_content .tab {
    height: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%;
}
#tab_content .tab_scroll_content {
    overflow: auto;
    position: relative;
}

/*  $_tab_body      */

#tab_content .tab_body {
    border-left: 1px solid #d5d5d5;
    padding: 10px;

}
#tab_content .tab_body .axis_title {
    background: #f9f9f9;
    border-right: 1px solid #d5d5d5;
    font-weight: bold;
    padding: 5px;
    text-shadow: 1px 1px 0 #ffffff;
    width: 15%;
    float: left;
}
#tab_content .tab_body span.item {
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#tab_content .tab_body span.measure {
    background: #fbe3e4;
    border: 1px solid #cc0000;
    color: #cc0000;
}
#tab_content .tab_body span.dimension {
    color: #006699;
    border: 1px solid #006699;
    background: #d5edf8;
}

/*  $_tab_top       */

/*  $_tab_bottom    */

/*  $_tab_toolbar   */

#tab_content .tab_body .tab_toolbar {
    margin-bottom: 10px;
    text-align: right;
}

/*  $_axis          */

#tab_content .tab_body .col_axis,
#tab_content .tab_body .row_axis,
#tab_content .tab_body .filter_axis {
    border:1px solid #d5d5d5;
    margin-top: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#tab_content .tab_body .col_axis .col_axis_drop,
#tab_content .tab_body .row_axis .row_axis_drop,
#tab_content .tab_body .filter_axis .filter_axis_drop {
    float: left;
    padding: 4px 4px;
    width: 80%;
}
#tab_content .tab_body .col_axis .col_placeholder,
#tab_content .tab_body .row_axis .row_placeholder,
#tab_content .tab_body .filter_axis .filter_placeholder {
    border: 1px dashed #999;
    color: #888;
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/*  $_vis       */

#tab_content .tab_body .vis {
    margin-top: 20px;
}

/*  $_datatable */

#tab_content .tab_body .vis .datatable {
    background: #ffffff;
    margin: 0;
    padding: 0;
}
#tab_content .tab_body .vis .datatable th, tr, td {
    background: #ffffff;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    font-weight: normal;
}
#tab_content .tab_body .vis .datatable .header {
    font-weight: bold;
}
#tab_content .tab_body .vis .datatable .string {
    text-align: left;
}
#tab_content .tab_body .vis .datatable .number {
    text-align: right;
}

/*  $_sidebar   */

.sidebar {
    border-right: 1px solid #d5d5d5;
    text-align: left;
}
.sidebar .section_header {
    background: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#e9e9e9));
    /*background: url('../../images/sidebar/section_title_bg.png') repeat-x 0 0;*/
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    font-weight: bold;
    line-height: 18px;
    padding: 5px;
    text-shadow: 1px 1px 0 #ffffff;
}
.sidebar .top {
    border-top: 0;
    padding-top: 6px;
}
.sidebar select {
    border: 1px solid #d5d5d5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 2px;
    width: 100%;
}
.sidebar select optgroup {
    color: #999;
    font-weight: normal;
    font-style: normal;
}
.sidebar p {
    margin: 0;
    padding: 5px 10px;
}

/*  $_jqueryui_layout   */


/* all 'panes' */
.ui-layout-pane {
    background: #ffffff;
    overflow: auto;
}
.ui-layout-content {
    position: relative;
    overflow: auto;
}
.ui-layout-west {
    border-right: 1px solid #d5d5d5;
}
.ui-layout-center {
    border-left: 1px solid #d5d5d5;
    padding: 10px;
}
/* all 'resizer-bars' */
.ui-layout-resizer {
    background: url('../../images/layout/resizer_bg.png') repeat-y 0 0;
    background: -moz-linear-gradient(left, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left center, right center, from(#ffffff), to(#f3f3f3));
    border: 1px solid #d5d5d5;
    border-width: 0;
}
.ui-layout-resizer-open-hover,
.ui-layout-resizer-dragging {
    background: url('../../images/layout/resizer_bg.png') repeat-y 0 0;
    background: -moz-linear-gradient(left, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left, right, from(#ffffff), to(#f3f3f3));
    background: #f3f3f3;
    border: 1px solid #d5d5d5;
    border-width: 0;
}
.ui-layout-resizer-sliding {
    opacity: .50;
    filter: alpha(opacity=50);
}
/* toggler */
.ui-layout-toggler {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #e3e3e3;
}
.ui-layout-resizer-hover .ui-layout-toggler {
    opacity: .60;
    filter:  alpha(opacity=60);
}
.ui-layout-resizer-sliding  ui-layout-toggler {
    display: none;
}

/*  $_jqueryui_blockui  */

.blockUI,
.blockMsg {
    border: #333 !important;
    background: #333 !important;
    margin: 0;
    padding: 0;
}
.loading_wrapper {
    border: 3px solid #e5e5e5;
}
.loading_wrapper .loading_inner {
    border: 1px solid #d5d5d5;
    zoom: 1;
}
.loading_inner .loading_body {
    background: #ffffff;
    text-align: center;
}
.loading_inner .loading_body img {
    padding: 10px 0 0 0;
}
.loading_inner .loading_body span {
    display: block;
    padding: 0 5px 10px;
}

/*  $_dialog    */

.dialog_wrapper {
    border: 3px solid #e5e5e5;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    width: 350px;
}
.dialog_wrapper .dialog_inner {
    border: 1px solid #d5d5d5;
}
.dialog_inner hr {
    margin: 0;
}
.dialog_inner .dialog_header {
    background: url('../../images/tab/tab_list_a_bg.png') repeat-x 0 bottom;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    border-bottom: 1px solid #d5d5d5;
    color: #222;
    font-weight: bold;
    padding: 5px;
    text-shadow: 1px 1px 0 #ffffff;
}
.dialog_inner .dialog_body {
    background: #ffffff;
}
.dialog_body .dialog_message {
    padding: 5px;
}
.dialog_body .dialog_footer {
    padding: 5px;
}

/*  $_jquery_alerts */

#popup_container {
    background: #ffffff;
    border: 3px solid #e5e5e5;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
}
#popup_inner {
    border: 1px solid #d5d5d5;
}
#popup_title {
    background: url('../../images/tab/tab_list_a_bg.png') repeat-x 0 bottom;
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f0f0f0));
    border-bottom: 1px solid #d5d5d5;
    color: #222;
    font-weight: bold;
    padding: 5px;
    text-shadow: 1px 1px 0 #ffffff;
}
#popup_content {
    background: 10px 10px no-repeat url('../../images/dialog/info.png');
    margin: 0;
}
#popup_content.alert {
    background-image: url('../../images/dialog/info.png');
}
#popup_content.confirm {
    background-image: url('../../images/dialog/important.png');
}
#popup_content.prompt {
    background-image: url('../../images/dialog/info.png');
}
#popup_message {
    padding-left: 55px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left;
}
#popup_message input {
    margin-top: 10px;
    padding: 2px;
    width: 97% !important;
}
#popup_panel {
    text-align: right;
    padding: 10px;
}
#popup_panel hr {
    display: none;
}

/*  $_jstree    */

.dimensions_tree,.measures_tree {
    padding:10px 5px;
}

.jstree li,.jstree ul ins {
    background-image:url("../../images/sidebar/d.png");
    background-repeat:no-repeat;
    background-color:transparent;
}

.jstree li {
    background-position:-90px 0;
    background-repeat:repeat-y;
}

.jstree .jstree-hovered {
    background:#e7f4f9;
    border:1px solid #d8f0fa;
    padding:0 2px 0 1px;
}

.jstree .jstree-clicked {
    background:#beebff;
    border:1px solid #99defd;
    padding:0 2px 0 1px;
}

.dimensions .jstree ul a .jstree-icon {
    background-position:-57px -1px;
}

.measures .jstree ul ul a .jstree-icon {
    background-position:-54px -38px;
}

.measures .jstree ul a .jstree-icon {
    background-position:-38px -1px;
}

.dimensions .jstree ul ul a .jstree-icon {
    background-position:-54px -54px;
}

.jstree a.jstree-loading .jstree-icon {
    background:url("../../images/sidebar/throbber.gif") center center no-repeat !important;
}

.jstree .jstree-open > ins {
    background-position:-18px 0;
}

.jstree .jstree-closed > ins {
    background-position:0 0;
}

.jstree li.jstree-last,.jstree li,.jstree .jstree-leaf > ins {
    background:transparent;
}