
/* PATui Default Theme */

/**
 * __header : Denotes classes
 * $_header : Denotes ids
 * ~~
 * TODO - Remove hacks
 * TODO - Remove images and use sprites
 * BUG  - IE7 BlockUI border
*/

/**
 * __globals
*/

.hide {
    display: none !important; }

#header {
    display: none; }

/**
 * $_toolbar
*/

#toolbar {
    background: #f0f0f0 url('../../images/x_sprite.png') repeat-x 0 0;
    border-bottom: 1px solid #ccc;
    font-size: 0.8em;
    height: 26px;
    list-style-type: none;
    margin: 0;
    padding: 10px; }

#toolbar li {
    display: inline-block;
    float: left;
    padding: 0 5px;
    text-align: center; }

#toolbar li a {
    background: transparent url("../../images/i_sprite.png") no-repeat;
    display: block;
    width: 22px;
    padding-top: 11px;
    text-decoration: none }

#toolbar li a#new_tab {
    background-position: right -94px; }

#toolbar li a#open_query {
    background-position: right -126px; }

#toolbar li a#save_query {
    background-position: right -158px; }

#toolbar li a#delete_query {
    background-position: right 1px; }

#toolbar li a#logout {
    background-position: right -63px; }

#toolbar li a#about {
    background-position: right -30px; }

#toolbar li.separator {
    /* Used to separate groups of icons */
    background: #d5d5d5;
    font-size: 0;
    height: 26px;
    margin: 0 10px;
    padding: 0;
    width: 1px; }

#toolbar li img.disabled {
    /* When a button is disabled */
    filter: alpha(opacity=30);
    opacity: 0.30; }


/**
 * $_tab_list
*/

#tabs  {
    background: #f0f0f0 url('../../images/x_sprite.png') repeat-x 0 -56px;
    padding-top: 2px;
    padding-top: 2px\0/; /* ie8 hack */
    height: 29px; }

#tabs,
x:-moz-any-link,
x:default {
    /* firefox specific */
    padding-top: 1px;
    height: 30px; }

#tabs ul {
    border-bottom: 1px solid #d5d5d5;
    list-style-type: none;
    margin: 0;
    padding: 5px 4px 2px 10px;
    height: 18px; }

#tabs ul,
x:-moz-any-link,
x:default {
    /* firefox specific */
    border-bottom: 1px solid #d5d5d5; /* theme */
    list-style-type: none;
    margin: 0;
    padding: 5px 4px 3px 10px;
    height: 18px; }

#tabs ul li {
    display: inline;
    padding: 4px 6px 4px 2px;
    background: #f9f9f9; /* theme */
    border: 1px solid #d5d5d5; /* theme */
    border-bottom: none;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0; }

#tabs ul li a {
    cursor: pointer;
    outline: none !important;
    padding: 2px 6px !important;
    color: #666;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
}

#tabs ul li a:hover {
    background: #f5f5f5 url('../../images/x_sprite.png') repeat-x 0 -98px;
    color: #222;
    cursor: pointer;
    padding: 4px 6px 4px 6px; }

#tabs ul li.ui-tabs-selected {
    padding-bottom: 6px !important; }

#tabs ul li.ui-tabs-selected a {
    background: #f5f5f5 url('../../images/x_sprite.png') repeat-x 0 -98px;
    /* border-bottom: 1px solid #f5f5f5 !important; */
    color: #222;
    cursor: default;
    font-weight: bold;
    border-bottom: none; }

#tabs ul li.active a:hover {
    border-bottom: none;
    padding: 4px 6px 5px 6px; }

#tabs ul li span {
    background: url("../../images/i_sprite.png") no-repeat 0px -19px;
    cursor: pointer;
    padding:0 7px; }

#tabs ul li span:hover {
    background: url("../../images/i_sprite.png") no-repeat -18px -19px;
    padding:0 7px; }

/**
 * $_tab_content
*/

#tab_panel {
    border-top: 1px solid #d5d5d5; /* theme */
    text-align: left; }


#tab_panel .ui-tabs-hide {
    /* Needed by jquery ui tabs */
    display: none; }

#tab_panel .tab {
    /* Needed by jquery ui tabs for tab content */
    height: 100%;
    overflow: hidden;
    padding: 0;
    width: 100%; }

#tab_panel .tab_scroll_content {
}
#tab_panel .sidebar {
    float: left;
    width: 200px;
    margin-right: 20px;
}

/**
 * __tab_body
*/

#tab_panel .workspace {
    border-left: 1px solid #d5d5d5;
    padding: 10px;
float: left;
width: 70%;}

#tab_panel .workspace .axis_title {
    background: #f7f7f7;
    border-right: 1px solid #d5d5d5;
    font-weight: bold;
    float: left;
    padding: 5px;
    text-shadow: 1px 1px 0 #ffffff;
    width: 15%; }

#tab_panel .workspace span.item {
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }

#tab_panel .workspace span.measure {
    background: #fbe3e4;
    border: 1px solid #cc0000;
    color: #cc0000; }

#tab_panel .workspace span.dimension {
    color: #006699;
    border: 1px solid #006699;
    background: #d5edf8; }

/**
 * __tab_toolbar
*/

#tab_panel .workspace .tab_top .tab_toolbar {
    margin-bottom: 10px;
    text-align: right; }

#tab_panel .workspace .tab_top .tab_toolbar a.button {
    background: #f5f5f5 url('../../images/x_sprite.png') repeat-x 0 -140px;
    border: 1px #d5d5d5 solid;
    color: #222;
    cursor: pointer;
    display: inline-block;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }

#tab_panel .workspace .tab_top .tab_toolbar a.button:hover {
    background: #f5f5f5 url('../../images/x_sprite.png') repeat-x 0 -174px;
    cursor: pointer;
    text-decoration:none; }

/**
 * __tab_bottom
*/

#tab_panel .workspace .tab_bottom .col_axis,
#tab_panel .workspace .tab_bottom .row_axis,
#tab_panel .workspace .tab_bottom .filter_axis {
    border:1px solid #d5d5d5;
    margin-top: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }

#tab_panel .workspace .tab_bottom .col_axis .col_axis_drop,
#tab_panel .workspace .tab_bottom .row_axis .row_axis_drop,
#tab_panel .workspace .tab_bottom .filter_axis .filter_axis_drop {
    float: left;
    padding: 4px 4px;
    width: 80%; }

#tab_panel .workspace .tab_bottom .col_axis .col_placeholder,
#tab_panel .workspace .tab_bottom .row_axis .row_placeholder,
#tab_panel .workspace .tab_bottom .filter_axis .filter_placeholder {
    border: 1px dashed #999;
    color: #888;
    display: inline-block;
    margin-left: 5px;
    padding: 0 3px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px; }

#tab_panel .status_bar {
    clear:both;
}



/**
 * __datatable
*/

#tab_panel .workspace .vis .datatable {
    background: #ffffff;
    margin: 0;
    padding: 0; }

#tab_panel .workspace .vis .datatable th, tr, td {
    background: #ffffff;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    font-weight: normal; }

#tab_panel .workspace .vis .datatable .header {
    font-weight: bold; }

#tab_panel .workspace .vis .datatable .string {
    text-align: left; }

#tab_panel .workspace .vis .datatable .number {
    text-align: right;
}

/**
 * __sidebar
*/

.sidebar {
    border: 1px solid #d5d5d5;
    text-align: left; }

.sidebar .section_header {
    background: url('../../images/x_sprite.png') repeat-x 0 -134px;
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    font-weight: bold;
    line-height: 18px;
    padding: 4px 5px;
    text-shadow: 1px 1px 0 #ffffff; }

.sidebar .top {
    border-top: 0;
    padding-top: 4px; }

.sidebar select {
    border: 1px solid #d5d5d5;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    padding: 2px;
    width: 100%; }

.sidebar select optgroup {
    color: #999;
    font-weight: normal;
    font-style: normal; }

.sidebar p {
    margin: 0;
    padding: 5px 10px; }

.sidebar a, .col_axis_drop, .row_axis_drop, .filter_axis_drop {
	cursor: pointer; }

/**
 * __jquery_ui_layout
*/
/*
.ui-layout-pane {

    background: #ffffff;
    overflow: auto; }

.ui-layout-content {
    position: relative;
    overflow: auto; }

.ui-layout-west {
    border-right: 1px solid #d5d5d5; }

.ui-layout-center {
    border-left: 1px solid #d5d5d5;
    padding: 10px; }

.ui-layout-resizer {

    background: #f5f5f5 url('../../images/y_sprite.png') repeat-y 0 0;
    border: 1px solid #d5d5d5;
    border-width: 0; }

.ui-layout-resizer-open-hover,
.ui-layout-resizer-dragging {
    background: #f3f3f3;
    border: 1px solid #d5d5d5;
    border-width: 0; }

.ui-layout-resizer-sliding {
    opacity: .50;
    filter: alpha(opacity=50); }

.ui-layout-toggler {

    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #e3e3e3; }

.ui-layout-resizer-hover .ui-layout-toggler {
    opacity: .60;
    filter:  alpha(opacity=60); }

.ui-layout-resizer-sliding  ui-layout-toggler {
    display: none; }
*/
/**
 * __jquery_blockui
*/

.blockUI,
.blockMsg {
    border: #333 !important;
    background: #333 !important;
    margin: 0;
    padding: 0; }

.loading_wrapper {
    border: 3px solid #e7e7e7; }

.loading_wrapper .loading_inner {
    border: 1px solid #d5d5d5;
    zoom: 1; }

.loading_inner .loading_body {
    background: #ffffff;
    text-align: center; }

.loading_inner .loading_body img {
    padding: 10px 0 0 0; }

.loading_inner .loading_body span {
    display: block;
    padding: 0 5px 10px; }

/**
 * __jquery_alerts
*/

#popup_container {
    background: #ffffff;
    border: 3px solid #e7e7e7;
    min-width: 300px; /* Dialog will be no smaller than this */
    max-width: 600px; /* Dialog will wrap after this width */
}
#popup_inner {
    border: 1px solid #d5d5d5; }

#popup_title {
    background: url('../../images/x_sprite.png') repeat-x 0 -134px;
    border-bottom: 1px solid #d5d5d5;
    color: #222;
    font-weight: bold;
    padding: 4px 5px;
    text-shadow: 1px 1px 0 #ffffff; }

#popup_content {
    background: 10px 10px no-repeat url('../../images/dialog/info.png');
    margin: 0; }

#popup_content.alert {
    background-image: url('../../images/dialog/info.png'); }

#popup_content.confirm {
    background-image: url('../../images/dialog/important.png'); }

#popup_content.prompt {
    background-image: url('../../images/dialog/info.png'); }

#popup_message {
    padding-left: 55px;
    padding-right: 10px;
    padding-top: 10px;
    text-align: left; }

#popup_message input {
    margin-top: 10px;
    padding: 2px;
    width: 97% !important; }

#popup_panel {
    text-align: right;
    padding: 10px; }

#popup_panel hr {
    display: none; }

/**
 * sidebar
*/

.tree, .tree ul {
    list-style: none; }

.dimensions, .measures, .tree li {
    padding: 2px; }

.tree a { 
    color: #333;
    text-decoration: none; }

li.folder {
    font-weight: bold; }

li.dimension ul li {
    display: none; }

li.folder ul li {
    font-weight: normal; }

.jstree li,.jstree ul ins {
    background: transparent url("../../images/i_sprite.png") no-repeat;
    cursor: pointer; }

.jstree li {
    background-position: -90px 0;
    background-repeat: repeat-y; }

.jstree .jstree-hovered {
    background:#e7f4f9;
    border:1px solid #d8f0fa;
    padding:0 2px 0 1px; }

.dimensions .jstree ul a .jstree-icon {
    background-position:-57px -1px; }

.measures .jstree ul ul a .jstree-icon {
    background-position:-54px -38px; }

.measures .jstree ul a .jstree-icon {
    background-position:-38px -1px; }

.dimensions .jstree ul ul a .jstree-icon {
    background-position:-54px -54px; }

.jstree .jstree-open > ins {
    background-position:-18px 0; }

.jstree .jstree-closed > ins {
    background-position: 0 0; }

.jstree li.jstree-last,.jstree li,.jstree .jstree-leaf > ins {
    background:transparent; }


.row_axis_drop ul,
.col_axis_drop ul,
.filter_axis_drop ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.row_axis_drop ul li,
.col_axis_drop ul li,
.filter_axis_drop ul li {
    display: inline;
    margin: 0 5px;
    height: 1.5em; line-height: 1.2em;
}
.row_axis_drop ul li span,
.col_axis_drop ul li span,
.filter_axis_drop ul li span, .ui-draggable-dragging {
    color: #336699;
    padding: 2px 5px;
    border: 1px solid #336699;
    background: #e7f4f9;
    margin: 0 2px;
}
.row_axis_drop ul li.ui-selected span,
.col_axis_drop ul li.ui-selected span,
.filter_axis_drop ul li.ui-selected span {
    color: #e7f4f9;
    padding: 2px 5px;
    border: 1px solid #336699;
    background: #336699;
    margin: 0 2px;
}

.placeholder_sort {
    background: grey;
    padding: 5px;
    height: 1.5em; line-height: 1.2em;
    width: 100px;
    display: block;
}
.ui-state-hover{
    background: #fcefa1;
}
.ui-state-active {
    background: #c6d880;
}