<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>PAT</title>
        <link rel="stylesheet" href="css/elastic/elastic.css" type="text/css" media="all" />
        <link rel="stylesheet" href="css/saiku/src/styles.css" type="text/css" media="all" />
        <!-- <link rel="stylesheet" href="css/saiku/src/styles_cahill.css" type="text/css" media="all" /> -->
        <script src="js/jquery/jquery.js" type="text/javascript" language="javascript" charset="utf-8"></script>
        <script src="js/elastic/elastic.js" type="text/javascript" language="javascript" charset="utf-8"></script>
    </head>
    <body>
        <div id="toolbar" class="unit on-2 columns">
            <div class="container">
                <div id="menu" class="column">
                    <ul>
                        <li><a href="#" title="New Query" class="cog"></a></li>
                        <li class="separator">&nbsp;</li>
                        <li><a href="#" title="Open Query" class="cog"></a></li>
                        <li><a href="#" title="Save Query" class="cog"></a></li>
                        <li><a href="#" title="Delete Query" class="cog"></a></li>
                        <li class="separator">&nbsp;</li>
                        <li><a href="#" title="Logout" class="cog"></a></li>
                        <li><a href="#" title="About" class="cog"></a></li>
                    </ul>
                </div>
                <h1 class="column"><!-- Insert your logo here --></h1>
            </div>
        </div>
        <div id="tabs" class="unit">
            <ul>
                <li class="selected"><a href="#" title="Tab Title">Tab title</a><span></span></li>
                <li><a href="#" title="Tab Title">Tab title</a><span></span></li>
                <li><a href="#" title="Tab Title">Tab title</a><span></span></li>
            </ul>
        </div>
        <div id="tab_panel" class="unit elastic-height">
            <div id="tab_panel_inner" class="container full-height">
                <div class="on-3 columns full-height">
                    <div id="sidebar" class="fixed column full-height">
                        <div class="container full-height">

                            <h3 class="top">Cubes</h3>
                            <div class="container_inner">
                                <select>
                                    <option>I'm an option!</option>
                                </select>
                            </div>

                            <h3>Dimensions</h3>
                            <div class="container_inner">
                                <ul>
                                    <li>Item 1
                                        <ul>
                                            <li>Item 1a</li>
                                            <li>Item 1b</li>
                                            <li>Item 1c</li>
                                        </ul>
                                    </li>
                                    <li>Item 2</li>
                                    <li>Item 3</li>
                                </ul>
                            </div>
                            <h3>Measures</h3>
                            <div class="container_inner">
                                <ul>
                                    <li>Item 1
                                        <ul>
                                            <li>Item 1a</li>
                                            <li>Item 1b</li>
                                            <li>Item 1C</li>
                                        </ul>
                                    </li>
                                    <li>Item 2</li>
                                    <li>Item 3</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div id="sidebar_pane" class="fixed column full-height">
                        <div class="container full-height"></div>
                    </div>
                    <div id="workspace" class="elastic column full-height">
                        <div class="container" style="padding: 10px;">

							<div id="workspace_toolbar" class="full-width">
								Toolbar
							</div>
							<div class="dropzone full-width on-2 columns">
								<div class="fixed column">
									TITLE HERE
								</div>
								<div class="elastic column" style="background: red;">
									DROP HERE
								</div>
							</div>


                            <div id="dialog" style="margin-bottom:10px; -moz-box-shadow: 0 0 5px #EEEEEE; border: 4px solid #EEEEEE; background: #FFFFFF; width: 400px; padding: 10px; -moz-border-radius: 5px;">
                                <h4>Header</h4>
                                <p>
                                    This <b>can</b> <em>be</em> HTML.
                                </p>
                            </div>
							<span style="-moz-box-shadow: 0 0 2px #DDDDDD; padding: 2px 3px; border: 1px solid #93aded; background: -moz-linear-gradient(top, #f5f7fc 0%, #d9e3fa 100%); color: #305798;-moz-border-radius: 2px;">
								Dimension
							</span>
							<br/>
							<br/>
							<br/>
							<span style="-moz-box-shadow: 0 0 2px #DDDDDD; padding: 2px 3px; border: 1px solid #ed9393; background: -moz-linear-gradient(top, #fcf5f5 0%, #fad9d9 100%); color: #983030;-moz-border-radius: 2px;">
								Measure
							</span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
