/**
 * @fileOverview Saiku User Inteface (UI) Default Styles
 * @author Prashant Raju and Mark Cahill
 * @version 1.0.0
*/

/** Globals */

html, body {
    background: #FFF;
    height: 100%;
    min-width: 1052px;
    min-height: 600px; 
    overflow: auto;
    text-align: left;
    width: 100%;
}
.clear {
    clear: both;
}
.hide {
    display: none;
}
.calign {
    text-align: center
}

/** Header */
#header {
    background: #F0F0F0;
    border-bottom: 3px solid #F0F0F0;
}

/** Toolbar */

#toolbar {
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD));
    background: -moz-linear-gradient(top, #EEEEEE 0%, #DDDDDD 100%);
    border-bottom: 1px solid #BBB;
    height: 50px;
}
#toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 7px 10px 7px 10px;
}
#toolbar ul li {
    display: inline-block;
    float: left;
    margin: 0;
    padding-right: 6px;
}
#toolbar ul li.separator {
    border-left: 1px solid #CCC;
    display: block;
    height: 26px;
    padding: 4px 4px 6px 4px;
    width: 1px;
}
#toolbar ul li a {
    border: 1px solid transparent;
    display: block;
    height: 26px;
    padding: 4px;
    width: 26px;
}
#toolbar ul li a:hover {
    border: 1px solid #CCC;
    padding: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#toolbar ul li a.new_tab {
    background: transparent url('../../../images/src/toolbar_new.png') 2px 2px no-repeat;
}
#toolbar ul li a.open_query {
    background: transparent url('../../../images/src/toolbar_open.png') 2px 2px no-repeat;
}
#toolbar ul li a.save_query {
    background: transparent url('../../../images/src/toolbar_save.png') 2px 2px no-repeat;
}
#toolbar ul li a.delete_query {
    background: transparent url('../../../images/src/toolbar_delete.png') 2px 2px no-repeat;
}
#toolbar ul li a.logout {
    background: transparent url('../../../images/src/toolbar_logout.png') 2px 2px no-repeat;
}
#toolbar ul li a.about {
    background: transparent url('../../../images/src/toolbar_about.png') 2px 2px no-repeat;
}
#toolbar ul li a.new_tab:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#EEEEEE));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #EEEEEE 100%);
    background: #F0F0F0 url('../../../images/src/toolbar_new.png') 2px 2px no-repeat;
}
#toolbar ul li a.open_query:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#EEEEEE));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #EEEEEE 100%);
    background: #F0F0F0 url('../../../images/src/toolbar_open.png') 2px 2px no-repeat;
}
#toolbar ul li a.save_query:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#EEEEEE));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #EEEEEE 100%);
    background: #F0F0F0 url('../../../images/src/toolbar_save.png') 2px 2px no-repeat;
}
#toolbar ul li a.delete_query:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#EEEEEE));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #EEEEEE 100%);
    background: #F0F0F0 url('../../../images/src/toolbar_delete.png') 2px 2px no-repeat;
}
#toolbar ul li a.logout:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#EEEEEE));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #EEEEEE 100%);
    background: #F0F0F0 url('../../../images/src/toolbar_logout.png') 2px 2px no-repeat;
}
#toolbar ul li a.about:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#EEEEEE));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #EEEEEE 100%);
    background: #F0F0F0 url('../../../images/src/toolbar_about.png') 2px 2px no-repeat;
}

/** Logo */
#logo {
    float: right;
    text-indent: -9999px;
}

/** Tabs */

#tabs {
    background: #F5F5F5;
    border-bottom: 1px solid #CCC;
    height: 28px;
    /*margin-bottom: 3px;*/
    padding-top: 3px;
    text-align: left;
}
#tabs ul {
    background: #F8F8F8;
    margin: 0;
    padding: 0 0 0 10px;
}
#tabs ul li {
    float: left;
    list-style: none;
    padding-right: 4px;
    background: #F2F2F2;
    color: #888;
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    display: block;
    margin:1px 1px -1px 0;
    padding: 4px 0px 4px 0px;
    text-decoration: none;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}
#tabs ul li.selected {
    background: #F0F0F0;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-bottom: 1px solid #F0F0F0 !important;
    font-weight: bold;
}
#tabs ul li:hover {
    border-left: 1px solid #BBB;
    border-top: 1px solid #BBB;
    border-right: 1px solid #BBB;
}
#tabs ul li a {
    color: #777;
    cursor: pointer;
    padding: 5px 2px 5px 10px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #FFFFFF;
}
#tabs ul li.selected a {
    color: #222;
}
#tabs ul li a:hover{
    color: #222;
}
#tabs ul li span.close_tab {
    -moz-background-origin: 0px 2px;
    background: transparent url('../../../images/src/tabs_cross_off.png') 0px 1px no-repeat;
    display: inline-block;
    height: 18px;
    text-indent: -999px;
    width: 20px;

}
#tabs ul li span.close_tab:hover {
    background: transparent url('../../../images/src/tabs_cross_on.png') 0px 1px no-repeat;
    cursor: pointer !important;
    display: inline-block;
    height: 18px;
    width: 20px;
    -moz-background-origin: 0px 2px;
}

/** Sidebar */

.sidebar {
    float: left;
    overflow: auto;
    width: 260px;
}
.sidebar h3 {
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4em;
    margin: 5px 0;
    padding: 4px 10px 6px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.sidebar h3.top {
    border-top: none !important;
    margin-bottom: 5px;
    margin-top: 0;
    padding-top: 5px;
}
.sidebar .sidebar_inner {
    padding: 5px 10px;
}
.sidebar .sidebar_inner select {
    border: 1px solid #CCC;
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 100.01%;
    margin: 0;
    padding: 2px;
    width: 100%;
}
.sidebar .sidebar_inner ul {
    margin: 0;
}

/** Sidebar Separator */

.sidebar_separator {
    background: #F0F0F0;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    cursor: pointer;
    float: left;
    width: 3px;
}
.sidebar_separator:hover {
    background: #E0E0E0;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    width: 3px;
}

/** Tree */

.dtree,
.mtree {
    margin: 0;
    padding: 0;
}
.dtree li,
.mtree li {
    line-height: 20px;
    list-style-type: none;
    margin: 0;
    padding-left: 20px;
}
.dtree li.collapsed,
.mtree li.collapsed {
    background: url('../../../images/src/tree_collapsed.png') 0px 1px no-repeat;
}
.dtree li.expand,
.mtree li.expand {
    background: url('../../../images/src/tree_expand.png') 0px 1px no-repeat;
}
.dtree li a,
.mtree li a {
    color: #222;
    padding-left: 20px;
    text-decoration: none;
}
.dtree li a.folder_expand,
.mtree li a.folder_expand {
    background: url('../../../images/src/tree_folder_expand.png') 0px -1px no-repeat;
}
.dtree li a.folder_collapsed,
.mtree li a.folder_collapsed {
    background: url('../../../images/src/tree_folder_collapsed.png') 0px -1px no-repeat;
}
.dtree li ul,
.mtree li ul {
    padding: 0px;
    margin: 0;
}
.dtree li ul li,
.mtree li ul li {
    padding-left: 18px;
}
.dtree li ul li a {
    cursor: move;
    padding-left: 20px;
    background: url('../../../images/src/bullet_blue.png') 0px 0px no-repeat;
}
.mtree li ul li a {
    cursor: move;
    padding-left: 20px;
    background: url('../../../images/src/bullet_red.png') 0px 0px no-repeat;
}

/** Tab Panel */

#tab_panel {
    border-top: 1px solid #CCC;
}

/** Tab Workspace */

.workspace {
    background: #FFFFFF;
    float: right;
    margin-left: -265px;
    width: 100%;
}

/** Tab Workspace Inner */

.workspace_inner {
    margin-left: 265px;
    padding: 10px;
    overflow: auto;
}

/** Field List */

.field_list {
    margin-bottom: 10px;
}
.field_list .field_list_header {
    background: #F9F9F9;
    border: 1px solid #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    font-weight: bold;
    float: left;
    padding: 5px;
    line-height: 19px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 10%;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
}
.field_list .field_list_body {
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    float: left;
    margin: 0;
    width: 88%;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
}
.field_list .field_list_body ul {
    height: 29px;
    line-height: 29px;
    margin: 0;
    padding-left: 10px;
    float: left;
}
.field_list .field_list_body ul.measures_group {
    padding-left: 0;
}
.field_list .field_list_body ul li {
    line-height: 19px;
    list-style-type: none;
    height: 20px;
    display: inline;
    margin: 0 5px 0 0;
    padding: 0 2px;
}
.field_list .field_list_body ul li a {
    cursor: move;
}

/** Draggables, Sortables and Droppables */

.ui-sortable-helper {
    line-height: 15px !important;
    width: auto !important;
}
.ui-draggable-dragging {
    cursor: move !important;
    display: inline !important;
    height: 15px !important;
    line-height: 15px !important;
    list-style-type: none !important;
    margin: 0 !important;
    padding: 0 2px !important;
    width: auto !important;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
}
.ui-draggable-dragging a {
    background-image: none !important;
    padding: 0 !important;
}
.dtree .ui-draggable-dragging {
    background: #e5f6ff !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e9ef), to(#c2d5e2)) !important;
    background: -moz-linear-gradient(top, #e0e9ef 0%, #c2d5e2 100%) !important;
    border: 1px solid #2a6085 !important;
    color: #2a6085 !important;

}
.dtree .ui-draggable-dragging a {
    color: #2a6085 !important;
}
.mtree .ui-draggable-dragging {
    background: #ffe8e8 !important;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf5f5), to(#fad9d9)) !important;
    background: -moz-linear-gradient(top, #fcf5f5 0%, #fad9d9 100%) !important;
    border: 1px solid #ed9393 !important;
    color: #983030 !important;
}
.mtree .ui-draggable-dragging a {
    color: #983030 !important;
}
.dropped_dimension {
    background: #e5f6ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e9ef), to(#c2d5e2));
    background: -moz-linear-gradient(top, #e0e9ef 0%, #c2d5e2 100%);
    border: 1px solid #2a6085;
    color: #2a6085;
    display: inline !important;
    margin-left: 10px;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
}
.dropped_measure {
    background: #ffe8e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf5f5), to(#fad9d9));
    background: -moz-linear-gradient(top, #fcf5f5 0%, #fad9d9 100%);
    border: 1px solid #ed9393;
    color: #983030;
    display: inline !important;
    margin-left: 10px;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
}
.dropped_dimension a {
    color: #2a6085;
    text-decoration: none;
}
.dropped_measure a {
    color: #983030;
    text-decoration: none;
}
.placeholder_dimension,
.placeholder_measure,
.placeholder {
    border: 1px dashed #999;
    color: #999;
    padding: 1px 2px;
    margin-left: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.placeholder_dimension_sort {
    border: 1px dashed #2a6085;
    color: #2a6085;
    padding: 1px 2px;
    margin-left: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.placeholder_measure_sort {
    border: 1px dashed #ed9393;
    color: #983030;
    padding: 1px 2px;
    margin-left: 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}
.not-draggable a {
    cursor: not-allowed !important;
}

/** Table */

.datatable {
    background: #FFF;
}
.datatable .int {
    text-align: right;
}
.datatable .str {
    text-align: left;
}
.datatable tr th {
    background: #FFF;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    font-weight: bold;
}
.datatable tr td {
    background: #FFF !important;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

/** Waiting */

.waiting {
    background: #FFF;
    border: 3px solid #EEE;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 3px #DDD;
    -webkit-box-shadow: 0 0 3px #DDD;
}
.waiting .waiting_inner {
    border: 1px solid #CCC;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.waiting .waiting_inner .waiting_body {
    background: url('../../../images/src/waiting_loading.gif') 10px 11px no-repeat;
    padding: 10px 15px 10px 35px;
}

/** Dialog */

.dialog {
    background: #FFF;
    border: 3px solid #EEE;
    width: 400px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 10px #EEE;
    -webkit-box-shadow: 0 0 10px #EEE;
}
.dialog input[type=text],
.dialog input[type=password] {
    padding: 4px;
    width: 277px;
}
.dialog .dialog_inner {
    border: 1px solid #CCC;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.dialog .dialog_inner .dialog_header {
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-bottom: 1px solid #CCC;
    line-height: 1.4em;
    padding: 5px 5px 6px 10px;
    -moz-box-shadow:0 1px 3px #DDDDDD;
    -webkit-box-shadow:0 1px 3px #DDDDDD;
}
.dialog .dialog_inner .dialog_header h3 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 200px;
}
.dialog .dialog_inner .dialog_header a.close_dialog {
    background: transparent url('../../../images/src/tabs_cross_off.png') 0px 1px no-repeat;
    display: inline-block;
    cursor: pointer;
    float: right;
    height: 18px;
    text-indent: -999px;
    width: 20px;
}
.dialog .dialog_inner .dialog_header a.close_dialog:hover {
    background: transparent url('../../../images/src/tabs_cross_on.png') 0px 1px no-repeat;
}
.dialog .dialog_inner .dialog_body {
    padding: 10px;
}
.dialog .dialog_inner .dialog_body_info {
    background: transparent url('../../../images/src/toolbar_about.png') 20px 10px no-repeat;
    min-height: 40px;
    padding: 10px 10px 10px 70px;
}
.dialog .dialog_inner .dialog_body_error {
    background: transparent url('../../../images/src/toolbar_error.png') 20px 10px no-repeat;
    min-height: 40px;
    padding: 10px 10px 10px 70px;
}
.dialog .dialog_inner .dialog_body_login {
    background: transparent url('../../../images/src/dialog_login.png') 25px 15px no-repeat;
    min-height: 40px;
    padding: 10px 10px 10px 100px;
}
.dialog .dialog_inner .dialog_footer {
    border-top: 1px solid #CCC;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: right
}

/** Button */

a.button {
    background: #F5F5F5;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border: 1px solid #CCC;
    color: #222;
    padding: 5px 10px;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
}
a.button:hover {
    background: #F0F0F0;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFFFFF));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
    color: #777;
}
a.button_selected {
    background: #F0F0F0;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFFFFF));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
    border: 1px solid #CCC;
    color: #777;
    padding: 5px 10px;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/** Workspace Toolbar */

.workspace_toolbar {
    margin-bottom: 15px;
    text-align: left;
}

/** Workspace Area */

.workspace_area {
    overflow: auto;
}
