.dropFlextable{
border : 1px;
border-color: white;
background-color:#99bbe8;
}

.dropFlextable2{
border : 1px;
border-color: blue;
background-color:red;
width: 100%;
}

.spacer-label {
 
}
.dropEndCell {
  width: 100%;
}
.dragDimension{
  border-collapse:collapse;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #dfe8f6;
  padding: 5px;
}

.dragDimensionCell{
	
}

.dragProxy{
	background-color:#a6c5f4;
}

.logoPanel{
  width: 100%;
  align: right;
}

#throbber {
	width: 48px !important;
	height: 48px !important;
	border: none;
}
.throbber {
	width: 48px !important;
	height: 48px !important;
	border: none;
}
.Throbber-loading {
	background: url(loadinfo.gif);
}
.Throbber-static {
	background: url(loadinfostatic.gif);
}

.cellButton {
align: right;
}
