<div class="dialog_inner">
    <div class="dialog_header">
        <h3>About Saiku UI</h3>
        <a href="#" title="Close" class="close_dialog close">Close</a>
        <div class="clear"></div>
    </div>
    <div class="dialog_body_image">
        Saiku UI Version 1.0.0<br/>
        Created by Tom, Paul, Prashant and Mark.<br/><br/>
        <em>To boldly go where no man has gone before.</em>
    </div>
    <div class="dialog_footer calign">
        <input type="button" class="close" value="&nbsp;OK&nbsp;" />
    </div>
</div>