<?xml version="1.0" encoding="UTF-8"?>

<plugin title="Pentaho Analysis Tool Plugin" loader="overriding">

<overlays>
<overlay id="startup.patAnalysis"  resourcebundle="../content/pat-res/patplugin.properties">
	<overlay id="startup.patAnalysis">
		<toolbar id="mainToolbar">
			<toolbarbutton id="openPat" image="content/pat-res/pat-menu-icon.gif"
				onclick="mainToolbarHandler.openUrl('PAT','PAT','content/pat')"
				tooltiptext="${pat-plugin.tooltip}" insertafter="newAnalysisButton" />
		</toolbar>
	</overlay>
</overlay>
</overlays>
	
	<menu-items>
        <menu-item id="new-pat" anchor="file-new-submenu" label="New PAT Analysis" command="content/pat" type="MENU_ITEM" how="LAST_CHILD"/>
	</menu-items>
    
    <webservice id="session.rpc" type="gwt" class="org.pentaho.pat.server.servlet.SessionServlet"/>
    <webservice id="query.rpc" type="gwt" class="org.pentaho.pat.server.servlet.QueryServlet"/>
    <webservice id="discovery.rpc" type="gwt" class="org.pentaho.pat.server.servlet.DiscoveryServlet"/>
    <lifecycle-listener class="org.pentaho.pat.PatLifeCycleListener"/>

    
    <content-type type="xpav" mime-type="text/html">
    <title>Pentaho Analysis View</title>
    <description>Pentaho analysis view definition file</description>
    <icon-url>content/pat-res/pat-icon.png</icon-url>
    <meta-provider>org.pentaho.pat.PatContentTypeMetaProvider</meta-provider>
    <operations>
      <operation>
        <id>RUN</id>
        <command>content/pat?solution={solution}&amp;path={path}&amp;action={name}</command>
      </operation>
    </operations>
  </content-type>
  
  <content-generator
    id="pat"
    title="Pentaho Analysis Tool"
    type="xpav"
    class="org.pentaho.pat.PatContentGenerator"/>
    
    <static-paths>
      <static-path url="/pat-res" localFolder="resources"/>
    </static-paths>  
	
	
</plugin>