<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  
  <display-name>Pentaho Analysis Tool</display-name>
  
  
  <context-param>
    <param-name>log4jConfigLocation</param-name>
    <param-value>classpath:log4j.xml</param-value>
  </context-param>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
			/WEB-INF/pat-applicationContext.xml
			/WEB-INF/pat-securityContext.xml
			/WEB-INF/pat-datasource.xml
			/WEB-INF/pat-sessionfactory.xml
	  </param-value>
  </context-param>


  <filter>
    <filter-name>springSecurityFilterChain</filter-name>
    <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>springSecurityFilterChain</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.request.RequestContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  
  <session-config>
  	<session-timeout>20</session-timeout>
  </session-config>

<servlet id="jsp">
    <servlet-name>jsp</servlet-name>
    <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
    <init-param>
        <param-name>logVerbosityLevel</param-name>
        <param-value>DEBUG</param-value>
    </init-param>
    <init-param>
        <param-name>fork</param-name>
        <param-value>false</param-value>
    </init-param>
    <init-param>
        <param-name>xpoweredBy</param-name>
        <param-value>false</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

<servlet>
  <servlet-name>remoteLoggingService</servlet-name>
  <servlet-class>com.google.gwt.gen2.logging.server.RemoteLoggingService</servlet-class>
</servlet>
  
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <servlet>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>org.pentaho.pat.server.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>QueryServlet</servlet-name>
    <servlet-class>org.pentaho.pat.server.servlet.QueryServlet</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>DiscoveryServlet</servlet-name>
    <servlet-class>org.pentaho.pat.server.servlet.DiscoveryServlet</servlet-class>
  </servlet>
  
   <servlet>
	<servlet-name>RestServlet</servlet-name>
    <servlet-class>org.pentaho.pat.server.servlet.RestServlet</servlet-class>
  </servlet>
	 
	<!--  <servlet>
	<servlet-name>JersyServlet</servlet-name>
   <servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
   </servlet> --> 
   <servlet>
		<servlet-name>Jersey Spring Servlet</servlet-name>
		<servlet-class>com.sun.jersey.spi.spring.container.servlet.SpringServlet</servlet-class>
			<init-param>
				<param-name>com.sun.jersey.config.property.resourceConfigClass</param-name>
				<param-value>com.sun.jersey.api.core.PackagesResourceConfig</param-value>
			</init-param>
			<init-param>
				<param-name>com.sun.jersey.config.property.packages</param-name>
				<param-value>org.pentaho.pat.server.service</param-value>
			</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	 <servlet-mapping>
	<servlet-name>Jersey Spring Servlet</servlet-name>
	<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
  <servlet-mapping>  
     <servlet-name>dispatcher</servlet-name>
    <url-pattern>/pat/schemaupload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/pat/export</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/pentaho/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/pat/session.rpc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>QueryServlet</servlet-name>
    <url-pattern>/pat/query.rpc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiscoveryServlet</servlet-name>
    <url-pattern>/pat/discovery.rpc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RestServlet</servlet-name>
    <url-pattern>/pat/rest.rpc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  <servlet-name>jsp</servlet-name>
  <url-pattern>/pat/login.jsp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>jsp</servlet-name>
    <url-pattern>/pat/Pat.jsp</url-pattern>
  </servlet-mapping>
<servlet-mapping>
  <servlet-name>remoteLoggingService</servlet-name>
  <url-pattern>/pat/logging</url-pattern>
</servlet-mapping>
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  
  
</web-app>

