.dropFlextable{
border : 1px;
border-color: white;
background-color:#99bbe8;
}

.dropFlextable2{
border : 1px;
border-color: blue;
background-color:red;
width: 100%;
}

.spacer-label {
 height: 100px;
}

.validDropTarget{
	background-color: green;	
}
.dropRowEndCell {
height: 100%;	
}
.dropEndCell {
  width: 100%;
}
.dragDimension{
  border-collapse:collapse;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #dfe8f6;
  padding: 5px;
}
.dragProxy {
  border: 1px solid blue;
  filter: alpha(opacity = 50);
  opacity: 0.5;
}


.demo-table-positioner {
  z-index: 1;
  border-top: 1px solid green;
  margin-top: 1px;
}

.dragDimensionCell{
	
}

.dragProxy{
	background-color:#a6c5f4;
}
.pat-dropTable{
	
	}
	
.FlexTable {
  border-top: thin solid #444444;
  border-left: thin solid #444444;
  border-right: thin solid #111111;
  border-bottom: thin solid #111111;
  background-color:  #505050;
}

.FlexTable-OddRow {
  background-color: #cccccc;
}

.FlexTable-EvenRow {
  background-color:  #505050;
}


.FlexTable-ColumnLabel {
  color: white;
  padding: 3px;
}

.FlexTable-ColumnLabelCell {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: white;
  margin: 0;
  padding: 0;
  text-align: center;
}

.FlexTable-Cell {
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: white;
  padding: 5px;
}

.logoPanel{
  width: 100%;
  align: right;
}

#throbber {
	width: 48px !important;
	height: 48px !important;
	border: none;
}
.throbber {
	width: 48px !important;
	height: 48px !important;
	border: none;
}
.Throbber-loading {
	background: url(loadinfo.gif);
}
.Throbber-static {
	background: url(loadinfostatic.gif);
}

.cellButton {
align: right;
}
