.dropFlextable{
border : 1px;
border-color: white;
background-color:#99bbe8;
}

.spacer-label {
  width: 100%;
}
.dropEndCell {
  width: 100%;
}
.dragDimension{
  border-collapse:collapse;
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #dfe8f6;
  padding: 5px;
}
.dragProxy{
	background-color:#a6c5f4;
}