<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
        <title>PAT</title>
        <link rel="stylesheet" href="css/elastic.css" type="text/css" media="all" charset="utf-8" />
        <link rel="stylesheet" href="css/elastic.print.css" type="text/css" media="print" charset="utf-8" />
        <script src="js/jquery.js" type="text/javascript" language="javascript" charset="utf-8"></script>
        <script src="js/elastic.js" type="text/javascript" language="javascript" charset="utf-8"></script>
        <style type="text/css">
            #sidebar {
                overflow: hidden;
            }
        </style>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#toggler').click(function(){

                    var width = $('#sidebar').width();
                    if(width == '0') {

                        $('#sidebar').width('300');
                        Elastic.refresh();

                    }else{

                        $('#sidebar').width('0');
                        Elastic.refresh();

                    }
                    return false;

                });
            })
        </script>
    </head>
    <body>
        <div class="unit">
            header
        </div>
        <div class="unit">
            tabs
        </div>
        <div class="unit elastic-height" style="background-color: red;">
            <div class="container full-height">
                <div class="on-2 columns full-height">
                    <div class="fixed column full-height" id="sidebar" style="width: 300px; background-color: blue;">
                        sidebar
                    </div>
                    <div class="elastic column full-height" style="background-color: orange;">
                        content<br/>
                        <a href="#" id="toggler">Toggle sidebar</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="unit">
            footer
        </div>
    </body>
</html> 