/*
 * PATui Stylesheet
 * This is a stylesheet for PATui default theme
 * TODO - Create sprites
 * TODO - Remove hacks
 * TODO - Add gradient images for IE support
 */


/*
 * $_global
 * Global styles
*/

.hide {
    display: none !important;
}
.ralign {
    text-align: right;
}
.calign {
    text-align: center;
}
a.button {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    border: 1px #d5d5d5 solid;
    color: #222;
    cursor: pointer;
    display: inline-block;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    zoom:1;
}
a.button:hover{
    background: #f3f3f3;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ffffff));
    cursor: pointer;
    text-decoration:none;
}

/*
 * $_toolbar
 * Toolbar styles
 */

#toolbar {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
    border-bottom: 1px solid #d5d5d5;
}

/*
 * $_navigation
 * Navigation styles which sit inside $_toolbar
 */

#navigation {
    font-size: 0.8em;
    height: 26px; /* 40px */
    margin: 0;
    padding: 10px;
    list-style-type: none;
}
#navigation li {
    display: inline-block;
    float: left;
    padding: 0 5px;
    text-align: center;
}
#navigation li a {
    text-decoration: none;
}
#navigation li img.disabled {
    filter: alpha(opacity=30);
    opacity: 0.30;
}
#navigation li span {
    display: block;
    text-decoration: none;
}
#toolbar ul li.separator {
    background: #d5d5d5;
    font-size: 0;
    height: 26px; /* 40px */
    margin: 0 10px;
    padding: 0;
    width: 1px;
}

/*
 * $_sidebar
 * Sidebar styles
 * TODO - widget_header has an extra 1px padding on the bottom
 */

#sidebar {
    text-align: left;
}
#sidebar .section_header {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    font-weight: bold;
    line-height: 18px;
    padding: 5px;
    text-shadow: 1px 1px 0 #ffffff;
}
#sidebar .top {
    border-top: 0;
    padding-top: 6px;
}

#sidebar .widget {
    border: 1px solid #d5d5d5;
    margin-bottom: 10px;
    -moz-box-shadow: 0px 0px 2px #e3e3e3;
    -webkit-box-shadow: 0px 0px 2px #e3e3e3;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#sidebar .widget_header {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
    font-weight: bold;
    line-height: 18px;
    padding: 3px 5px;
    text-shadow: 1px 1px 0 #ffffff;
}
#sidebar .widget_body {
    padding: 5px;
}
#sidebar p {
    padding: 5px;
}

/*
 * $_content
 * Content styles
 */

#content {
    text-align: left;
}

/*
 * $_queries
 * Query/Tab styles
 * TODO - IE7 places image inside inline-block 1px lower
 */

#querylist_wrapper #querylist_container {
    background: #f0f0f0;
    border-bottom: 1px solid #d5d5d5;
    padding-top: 3px;
    padding-top: 2px\0/; /* IE8 */
}
/* FF */
#querylist_wrapper #querylist_container,
x:-moz-any-link,
x:default {
    background: #f0f0f0;
    border-bottom: 1px solid #d5d5d5;
    padding-top: 2px;
}
#querylist_wrapper #querylist_container ul {
    list-style-type: none;
    line-height: 1.4em;
    margin: 0 0 0 10px;
    padding: 5px 4px 3px 0;
}
#querylist_wrapper #querylist_container ul li {
    display: inline;
}
#querylist_wrapper #querylist_container ul li a {
    background: #f9f9f9;
    border: 1px solid #d5d5d5;
    border-bottom: none;
    color: #666;
    outline: none !important;
    padding: 4px 6px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ffffff;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}
#querylist_wrapper #querylist_container ul li a:hover {
    background: #ffffff;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ffffff));
    color: #222;
    padding: 4px 6px 4px 6px;
}
#querylist_wrapper #querylist_container ul li.ui-tabs-selected a {
    border-bottom: 1px solid #fff;
    background: #ffffff;
    background: -moz-linear-gradient(top, #f3f3f3 0%, #ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#f3f3f3), to(#ffffff));
    color: #222;
    font-weight: bold;
    padding: 4px 6px 5px 6px;
    border-bottom: none;
}
#querylist_wrapper #querylist_container ul li.active a:hover {
    border-bottom: none;
    padding: 4px 6px 5px 6px;
}
#querylist_wrapper #querylist_container ul li img {
    padding-left: 2px;
}
#query_content {
    border-top: 1px solid #d5d5d5;
    margin-top: 1px;
    padding: 10px;
}
#query_content .ui-tabs-hide {
    display: none;
}
#query_content .query_toolbar {
    background: #f9f9f9;
    background: -moz-linear-gradient(top, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    display: block;
    font-weight: bold;
    padding: 5px;
    text-shadow: 1px 1px 0 #ffffff;
}
#query_content #query_toolbar {
    margin-bottom: 10px;
    text-align: right;
}
#query_content #query_col_axis,
#query_content #query_row_axis,
#query_content #query_filter_axis {
    border:1px solid #d5d5d5;
    margin-top: 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
#query_content #query_col_axis span.axis_title,
#query_content #query_row_axis span.axis_title,
#query_content #query_filter_axis span.axis_title {
    background: #f9f9f9;
    border-right: 1px solid #d5d5d5;
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
    padding: 4px;
    text-shadow: 1px 1px 0 #ffffff;
    width: 80px;
    zoom: 1;
}
#query_content #query_col_axis #col_placeholder,
#query_content #query_row_axis #row_placeholder,
#query_content #query_filter_axis #filter_placeholder {
    display: inline-block;
    color: #888;
    font-style: italic;
    padding: 4px;
}

/*
 * $_vis
 * Visualisation styles
 */

#query_content #vis {
    margin-top: 10px;
}
#datatable {
    background: #ffffff;
    margin: 0;
    padding: 0;
}
#datatable th, tr, td {
    background: #ffffff;
    border-bottom: 1px solid #d5d5d5;
    border-right: 1px solid #d5d5d5;
    font-weight: normal;
}
#datatable .header {
    font-weight: bold;
}
#datatable .string {
    text-align: left;
}
#datatable .number {
    text-align: right;
}

/*
 * $_jquery_ui_layout
 * Override styles for the jQuery UI Layout plugin
 */

/* all 'panes' */
.ui-layout-pane {
    background: #ffffff;
    overflow: auto;
}
.ui-layout-content {
    position: relative;
    overflow: auto;
}
.ui-layout-west {
    border-right: 1px solid #d5d5d5;
}
.ui-layout-center {
    border-left: 1px solid #d5d5d5;
}
/* all 'resizer-bars' */
.ui-layout-resizer {
    background: #f3f3f3;
    background: -moz-linear-gradient(left, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left center, right center, from(#ffffff), to(#f3f3f3));
    border: 1px solid #d5d5d5;
    border-width: 0;
}
.ui-layout-resizer-open-hover,
.ui-layout-resizer-dragging {
    background: -moz-linear-gradient(left, #ffffff 0%, #f3f3f3 100%);
    background: -webkit-gradient(linear, left, right, from(#ffffff), to(#f3f3f3));
    background: #f3f3f3;
    border: 1px solid #d5d5d5;
    border-width: 0;
}
.ui-layout-resizer-sliding {
    opacity: .50;
    filter: alpha(opacity=50);
}
/* toggler */
.ui-layout-toggler {
    border-top: 1px solid #d5d5d5;
    border-bottom: 1px solid #d5d5d5;
    background-color: #e3e3e3;
}
.ui-layout-resizer-hover .ui-layout-toggler {
    opacity: .60;
    filter:  alpha(opacity=60);
}
.ui-layout-resizer-sliding  ui-layout-toggler {
    display: none;
}
