<!-- tab_workspace -->
<div class="workspace">
    <div class="workspace_inner">
        <div class="workspace_toolbar disabled_toolbar">
            <ul>
                <li><a href="#" class="save button" data-handler="save_query" title="Save Query"></a></li>
                <li class="seperator"><a href="#" class="run button" data-handler="run_query" title="Run query"></a></li>
                <li><a href="#" class="auto button on" data-handler="automatic_execution" title="Automatic execution"></a></li>
                <li class="seperator"><a href="#" class="non_empty on button"  data-handler="non_empty"  title="Non-empty"></a></li>
                <li><a href="#" class="swap_axis button" data-handler="swap_axis" title="Swap axis"></a></li>
                <li><a href="#" class="mdx button" data-handler="show_mdx" title="Show MDX"></a></li>
                <li class="seperator"><a href="#" class="export_xls button" data-handler="export_xls" title="Export XLS"></a></li>
                <li><a href="#" class="export_csv button" data-handler="export_csv" title="Export CSV"></a></li>
            </ul>
        </div>
        <div class="workspace_area">
            <div class="fields">
                <div class="fields_list" title="COLUMNS">
                    <div class="fields_list_header">
                        Columns
                    </div>
                    <div class="fields_list_body columns">
                        <ul class="connectable"></ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="fields_list" title="ROWS">
                    <div class="fields_list_header">
                        Rows
                    </div>
                    <div class="fields_list_body rows">
                        <ul class="connectable">
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="workspace_results">
        </div>
    </div>
</div>
<!-- eof tab_workspace -->
<!-- sidebar -->
<div class="sidebar">
    <h3 class="top">Cubes</h3>
    <div class="sidebar_inner">
        <select class="cubes">
        </select>
    </div>
    <h3>Dimensions</h3>
    <div class="sidebar_inner dimension_tree"></div>
    <h3>Measures</h3>
    <div class="sidebar_inner measure_tree"></div>
</div>
<!-- eof sidebar -->
<!-- sidebar separator -->
<div class="sidebar_separator"></div>
<!-- eof sidebar separator -->
<div class="clear"></div>