<!-- tab_workspace -->
<div class="workspace">
    <div class="workspace_inner">
        <div class="workspace_toolbar">
            <a href="#" class="button_disabled" title="Run Query">Run Query</a>
            <a href="#" class="button_disabled" title="Show MDX">Show MDX</a>
            <a href="#" class="button_toggle_disabled_on" title="Non-empty">Non-empty</a>
        </div>
        <div class="waiting quiet">
            <span class="waiting_message"></span>
        </div>
        <div class="clear"></div>
        <div class="workspace_area">
            <div class="fields">
                <div class="fields_list" title="COLUMNS">
                    <div class="fields_list_header">
                        Columns
                    </div>
                    <div class="fields_list_body columns">
                        <ul class="connectable"></ul>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="fields_list" title="ROWS">
                    <div class="fields_list_header">
                        Rows
                    </div>
                    <div class="fields_list_body rows">
                        <ul class="connectable">
                        </ul>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="workspace_results">
        </div>
    </div>
</div>
<!-- eof tab_workspace -->
<!-- sidebar -->
<div class="sidebar">
    <h3 class="top">Cubes</h3>
    <div class="sidebar_inner">
        <select class="cubes">
        </select>
    </div>
    <h3>Dimensions</h3>
    <div class="sidebar_inner dimension_tree"></div>
    <h3>Measures</h3>
    <div class="sidebar_inner measure_tree"></div>
</div>
<!-- eof sidebar -->
<!-- sidebar separator -->
<div class="sidebar_separator"></div>
<!-- eof sidebar separator -->
<div class="clear"></div>