/*
    Document    : styles_cahill.css
    Description : Default theme for PAT
    Notes       :
        A different theme inspired by Mark Cahill
*/

/*
    Globals
*/

#toolbar {
    /*t*/ background: #EEEEEE;
    /*t*/ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#edf5fd', endColorstr='#dceeff');
    /*t*/ background: -webkit-gradient(linear, left top, left bottom, from(#edf5fd), to(#dceeff));
    /*t*/ background: -moz-linear-gradient(top, #edf5fd 0%, #dceeff 100%);
    /*t*/ border-bottom: 1px solid #bad4ee;
    height: 54px;
}

#toolbar #menu ul li.separator {
    /*t*/ border-left: 1px solid #bad4ee;
}
#tabs {
    /*t*/ background: #e9f4ff;
}
#tabs ul {
    /*t*/ background: #eaf2f5;
    /*t*/ border-bottom: 1px solid #CCC;
}
#tabs ul li {
    /*t*/ background: #F2F2F2;
    /*t*/ color: #888;
    /*t*/ border-left: 1px solid #CCC;
    /*t*/ border-top: 1px solid #CCC;
    /*t*/ border-right: 1px solid #CCC;
}
#tabs ul li.selected {
    /*t*/ background: #F0F0F0;
    /*t*/ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF');
    /*t*/ background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    /*t*/ background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    /*t*/ border-bottom: 1px solid #F0F0F0 !important;
}
#tabs ul li a {
    /*t*/ color: #888;
}
#tabs ul li a:hover {
    /*t*/ color: #222;
}
#tabs ul li.selected a {
    /*t*/ color: #222;
}
#tab_panel_inner {
    /*t*/ border-top: 1px solid #CCC;
}
#sidebar div.container h3 {
    /*t*/ background: #F0F0F0;
    /*t*/ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF');
    /*t*/ background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    /*t*/ background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    /*t*/ border-top: 1px solid #CCC;
    /*t*/ border-bottom: 1px solid #CCC;
}
#sidebar_pane div.container {
    /*t*/ background: #F8F8F8;
    /*t*/ border-right: 1px solid #CCC;
    /*t*/ border-left: 1px solid #CCC;
}
#sidebar_pane div.container:hover {
    /*t*/ background: #F0F0F0;
    /*t*/ border-right: 1px solid #CCC;
    /*t*/ border-left: 1px solid #CCC;
}
