/*
    Document    : styles.css
    Description : Default theme for PAT
    Notes       :
        # Lines marked with "t" are important to the default theme, to
          create a custom theme make modifications to these lines
        # This is complemented by the BlueprintCSS framework files reset.css,
          typography.css and ie.css
        # The default theme relies heavily on CSS3
*/

/*
    Globals
*/

html,
body {
    color: #222;
    height: 100%;
}


.clear {
    clear: both;
}

/*
    Id          : #header
    Description : Sits at the top of the layout and contains the toolbar and
                  tab buttons
*/

#header {}

/*
    Id          : #toolbar
    Description : Sits at the top of the layout and contains core PAT operations
*/

#toolbar {
    /*t*/ background: #EEEEEE;
    /*t*/ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EEEEEE', endColorstr='#DDDDDD');
    /*t*/ background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD));
    /*t*/ background: -moz-linear-gradient(top, #EEEEEE 0%, #DDDDDD 100%);
    /*t*/ border-bottom: 1px solid #BBB;
    height: 54px;
}

/*
    Id          : #menu
    Description : Sites inside the #toolbar and contains the basic menu
    TODO        : Instead of using opacity use images (IE looks ugly)
    TODO        : Align icons correctly using sprites
*/

#toolbar #menu {}
#toolbar #menu ul {
    list-style-type: none;
    margin: 0;
    padding: 9px 10px 10px 10px;
}
#toolbar #menu ul li {
    display: inline-block;
    float: left;
    margin: 0;
    padding-right: 10px;
}
#toolbar #menu ul li.separator {
    /*t*/ border-left: 1px solid #CCC;
    display: block;
    height: 34px;
    width: 1px;
}
#toolbar #menu ul li a {
    border: 1px solid transparent;
    display: block;
    padding: 16px;
}
#toolbar #menu ul li a.cog {
    background: transparent url('../../../images/src/cog_32.png') no-repeat 0 0;
}
/* Add other icon classes here */

/*
    Id          : #logo
    Description : Sites inside the #toolbar and inside the #header
                  contains the saiku logo
*/

#toolbar #logo {
    float: right;
    margin-top: 7px;
    padding-right: 10px;
    text-align: right;
    width: 150px;
}
#toolbar #logo h1 { /*t*/
    text-shadow: 1px 1px 0 #FFF;
}

/*
    Id          : #tabs
    Description : Sits below the #toolbar and inside the #header and
                  contains tab buttons
    TODO        : Make the tab links <h2/> tags
*/

#tabs {
    /*t*/ background: #F0F0F0;
    height: 35px;
    text-align: left;
}
#tabs ul {
    /*t*/ background: #F8F8F8;
    /*t*/ border-bottom: 1px solid #CCC;
    list-style-type: none;
    padding:  10px 10px 5px 10px;
    margin: 0;
}
#tabs ul li {
    /*t*/ background: #F2F2F2;
    /*t*/ color: #888;
    display: inline;
    padding-left: 10px;
    /*t*/ border-left: 1px solid #CCC;
    /*t*/ border-top: 1px solid #CCC;
    /*t*/ border-right: 1px solid #CCC;
    padding: 4px 8px 6px 8px;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}
#tabs ul li,
x:-moz-any-link,
x:default {
    padding: 5px 8px;
}
#tabs ul li.selected {
    /*t*/ background: #F0F0F0;
    /*t*/ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF');
    /*t*/ background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    /*t*/ background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    /*t*/ border-bottom: 1px solid #F0F0F0 !important;
    font-weight: bold;
}
#tabs ul li a {
    /*t*/ color: #888;
    text-decoration: none;
}
#tabs ul li a:hover {
    /*t*/ color: #222;
}
#tabs ul li.selected a {
    /*t*/ color: #222;
    text-decoration: none;
}

#tabs ul li span {
    background: transparent url('../../../images/src/cross_8.png') no-repeat right 8px;
    opacity: 0.50;
    padding: 4px 4px 4px 10px;
}
#tabs ul li span:hover {
    background: transparent url('../../../images/src/cross_8.png') no-repeat right 8px;
    cursor: pointer !important;
    padding: 4px 4px 4px 10px;
    opacity: 1;
}

/*
    Id          : #tab_panel
    Description : Sits below the #tabs contains the contents of the tab
*/

#tab_panel {}

/*
    Id          : #tab_panel_inner
    Description : Sits inside the #tab_panel
*/

#tab_panel_inner {
    /*t*/ border-top: 1px solid #CCC;
}

/*
    Id          : #sidebar
    Description : Sits inside #tab_panel and contains data, dimension etc.
                  browsers
*/

#sidebar {
    width: 264px;
}
#sidebar div.container h3 {
/*t*/ background: #F0F0F0;
    /*t*/ filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#FFFFFF');
    /*t*/ background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    /*t*/ background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    /*t*/ border-top: 1px solid #CCC;
    /*t*/ border-bottom: 1px solid #CCC;
    font-size: 13px;
    margin: 10px 0;
    padding: 7px 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
#sidebar div.container h3.top {
    border-top: none !important;
    margin-bottom: 10px;
    margin-top: 0;
}
#sidebar div.container_inner {
    padding: 0px 10px;
}
#sidebar div.container_inner select {
    /*t*/ border: 1px solid #DDDDDD;
    padding: 2px;
    width: 100%;
}

/*
    Id          : #sidebar_pane
    Description : Sits between the #sidebar and #workspace as a separator
*/

#sidebar_pane div.container {
    /*t*/ background: #F8F8F8;
    /*t*/ border-right: 1px solid #CCC;
    padding:    0 1px 0 2px;
    /*t*/ border-left: 1px solid #CCC;
}
#sidebar_pane div.container:hover {
    /*t*/ background: #F0F0F0;
    cursor: pointer;
    /*t*/ border-right: 1px solid #CCC;
    padding:    0 1px 0 2px;
    /*t*/ border-left: 1px solid #CCC;
}
