<!-- tab_workspace -->
<div class="workspace">
    <div class="workspace_inner">
        <!-- <div class="workspace_toolbar">
            <a href="#" class="button">Hide Fields</a>
        </div> -->
        <div class="workspace_area">
            <div class="field_list">
                <div class="field_list_header">Rows</div>
                <div class="field_list_body rows">
                    <ul class="dimensions_group">
                        <li class="placeholder_dimension">Drop dimensions here</li>
                    </ul>
                    <ul class="measures_group">
                        <li class="placeholder_measure">Drop measures here</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
            <div class="field_list">
                <div class="field_list_header">Columns</div>
                <div class="field_list_body columns">
                    <ul class="dimensions_group">
                        <li class="placeholder_dimension">Drop dimensions here</li>
                    </ul>
                    <ul class="measures_group">
                        <li class="placeholder_measure">Drop measures here</li>
                    </ul>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </div>
</div>
<!-- eof tab_workspace -->
<!-- sidebar -->
<div class="sidebar">
    <h3 class="top">Cubes</h3>
    <div class="sidebar_inner">
        <select class="cubes">
        </select>
    </div>
    <h3>Dimensions</h3>
    <div class="sidebar_inner dimension_tree"></div>
    <h3>Measures</h3>
    <div class="sidebar_inner measure_tree"></div>
</div>
<!-- eof sidebar -->
<!-- sidebar separator -->
<div class="sidebar_separator"></div>
<!-- eof sidebar separator -->
<div class="clear"></div>