<!-- tab_workspace -->
<div class="workspace">
    <div class="workspace_inner">
        <div class="field_list">
            <div class="field_list_header">Rows</div>
            <div class="field_list_body">
                <ul>
                    <li class="draggable dimension">Row Item</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
        <div class="field_list">
            <div class="field_list_header">Columns</div>
            <div class="field_list_body">
                <ul>
                    <li class="draggable measure">Column Item</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
<!-- eof tab_workspace -->
<!-- sidebar -->
<div class="sidebar">
    <h3 class="top">Cubes</h3>
    <div class="sidebar_inner"></div>
    <h3>Dimensions</h3>
    <div class="sidebar_inner"></div>
    <h3>Measures</h3>
    <div class="sidebar_inner"></div>
</div>
<!-- eof sidebar -->
<!-- sidebar separator -->
<div class="sidebar_separator"></div>
<!-- eof sidebar separator -->
<div class="clear"></div>