 /* Custom YUI */
 #doc3                     { min-width: 960px; }
 .yui-t6 #yui-main .yui-b  { border-right: 1px solid #e5e5e5; padding-right: 20px; }
 .small-bottom             { margin-bottom: 0.5em; }

 /* Header */
 #hd                   { padding-top: 10px; }
 #hd h1                { color: #336699; font-weight: bold; letter-spacing: -0.05em; margin-bottom: 0.2em; font-size: 2.5em; }

 /* Body */
 /* Headers */
 #bd h2, #bd h3        { color: #336699; letter-spacing: -0.05em; font-weight: bold; }
 #bd h3 img            { vertical-align: -5px; }

 /* About */
 #about                { color: #99b2cc; font-size: 2.0em; letter-spacing: -0.05em; margin-bottom: 0.8em; }
 #latest               { margin-bottom: 2.0em; }

 /* Version */
 #version h2, #news h2 { font-size: 1.8em;  }
 #version ul           { font-size: 1.2em;  }
 #version li           { margin-bottom: 0.45em; }
 #version span         { display: block; color: #666; }

 /* Video */
 #video                { text-align: right; }

 /* News & Sidebar */
 #news p, #sidebar p, #sidebar ul     { font-size: 1.2em; }