
/* Widgets
 ----------------------------------------- */

h1,
h2,
h3 {
    font-weight: bold;
}
.container {
    padding: 20px;
}
.clear {
    clear: both;
}
.button_showcase {
    padding: 10px 0;
}

/* Toolbar
 ----------------------------------------- */

#toolbar {
    background: #EEEEEE;
    background: -webkit-gradient(linear, left top, left bottom, from(#EEEEEE), to(#DDDDDD));
    background: -moz-linear-gradient(top, #EEEEEE 0%, #DDDDDD 100%);
    border-bottom: 1px solid #BBB;
    height: 50px;
}
#toolbar ul {
    list-style-type: none;
    margin: 0;
    padding: 7px 10px 7px 10px;
}
#toolbar ul li {
    display: inline-block;
    float: left;
    margin: 0;
    padding-right: 6px;
}
#toolbar ul li.separator {
    border-left: 1px solid #CCC;
    display: block;
    height: 26px;
    padding: 4px;
    width: 1px;
}
#toolbar ul li a {
    background: transparent url('../../../images/src/toolbar_cross.png') center center no-repeat;
    border: 1px solid transparent;
    display: block;
    height: 26px;
    padding: 4px;
    width: 26px;
}
#toolbar ul li a:hover {
    background: #F0F0F0 url('../../../images/src/toolbar_cross.png') center center no-repeat;
    border: 1px solid #CCC;
    padding: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}

/* Tabs
 ----------------------------------------- */

#tabs {
    background: #F5F5F5;
    border-bottom: 1px solid #CCC;
    height: 28px;
    margin-bottom: 3px;
    padding-top: 3px;
    text-align: left;
}
#tabs ul {
    background: #F8F8F8;
    margin: 0;
    padding: 0 0 0 10px;
}
#tabs ul li {
    float: left;
    list-style: none;
    padding-right: 4px;
    background: #F2F2F2;
    color: #888;
    border-left: 1px solid #DDD;
    border-top: 1px solid #DDD;
    border-right: 1px solid #DDD;
    display: block;
    margin:1px 1px -1px 0;
    padding: 4px 0px 4px 0px;
    text-decoration: none;
    -moz-border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
}
#tabs ul li.selected {
    background: #F0F0F0;
    border-left: 1px solid #CCC;
    border-top: 1px solid #CCC;
    border-right: 1px solid #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-bottom: 1px solid #F0F0F0 !important;
    font-weight: bold;
}
#tabs ul li:hover {
    border-left: 1px solid #BBB;
    border-top: 1px solid #BBB;
    border-right: 1px solid #BBB;
}
#tabs ul li a {
    color: #777;
    cursor: pointer;
    text-decoration: none;
    padding: 5px 2px 5px 10px;
}
#tabs ul li.selected a {
    color: #222;
}
#tabs ul li a:hover{
    color: #222;
}
#tabs ul li span.close_tab {
    background: transparent url('../../../images/src/tabs_cross_off.png') 0px 1px no-repeat;
    display: inline-block;
    height: 18px;
    text-indent: -999px;
    width: 20px;
}
#tabs ul li span.close_tab:hover {
    background: transparent url('../../../images/src/tabs_cross_on.png') 0px 1px no-repeat;
    cursor: pointer !important;
    display: inline-block;
    height: 18px;
    width: 20px;
}

/* Sidebar
 ----------------------------------------- */

.sidebar h3 {
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4em;
    margin: 5px 0;
    padding: 4px 10px 6px;
    text-shadow: 1px 1px 0 #FFFFFF;
}
.sidebar h3.top {
    border-top: none !important;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 5px;
}


/* Sidebar Separator
 ----------------------------------------- */

.sidebar_separator {
    background: #F0F0F0;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    cursor: pointer;
    width: 3px;
}
.sidebar_separator:hover {
    background: #E0E0E0;
    border-right: 1px solid #CCC;
    border-left: 1px solid #CCC;
    width: 3px;
}

/* Dialog
 ----------------------------------------- */

.dialog {
    background: #FFF;
    border: 3px solid #EEE;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 3px #DDD;
    -webkit-box-shadow: 0 0 3px #DDD;
}
.dialog .dialog_inner {
    border: 1px solid #CCC;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.dialog .dialog_inner .dialog_header {
    background: #F9F9F9;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border-bottom: 1px solid #CCC;
    line-height: 1.4em;
    padding: 5px 5px 6px 10px;
    -moz-box-shadow:0 1px 3px #DDDDDD;
    -webkit-box-shadow:0 1px 3px #DDDDDD;
}
.dialog .dialog_inner .dialog_header h3 {
    float: left;
    font-size: 13px;
    font-weight: bold;
    line-height: 1.4em;
    margin: 0;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 200px;
}
.dialog .dialog_inner .dialog_header a.close_dialog {
    background: transparent url('../../../images/src/tabs_cross_off.png') 0px 1px no-repeat;
    display: inline-block;
    cursor: pointer;
    float: right;
    height: 18px;
    text-indent: -999px;
    width: 20px;
}
.dialog .dialog_inner .dialog_header a.close_dialog:hover {
    background: transparent url('../../../images/src/tabs_cross_on.png') 0px 1px no-repeat;
}
.dialog .dialog_inner .dialog_body {
    padding: 10px;
}
.dialog .dialog_inner .dialog_body_image {
    background: transparent url('../../../images/src/dialog_box.png') 20px 10px no-repeat;
    padding: 10px 10px 10px 70px;
}
.dialog .dialog_inner .dialog_footer {
    border-top: 1px solid #CCC;
    margin-top: 10px;
    padding: 5px 10px;
    text-align: right
}

/* Button
 ----------------------------------------- */

a.button {
    background: #F5F5F5;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    border: 1px solid #CCC;
    color: #222;
    padding: 5px 10px;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
}
a.button:hover {
    background: #F0F0F0;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFFFFF));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
    color: #777;
}
a.button_selected {
    background: #F0F0F0;
    background: -webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFFFFF));
    background: -moz-linear-gradient(top, #F0F0F0 0%, #FFFFFF 100%);
    border: 1px solid #CCC;
    color: #777;
    padding: 5px 10px;
    text-decoration: none;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Field List
 ----------------------------------------- */

.field_list {
    margin-bottom: 10px;
}
.field_list .field_list_header {
    background: #F9F9F9;
    border: 1px solid #CCC;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
    background: -moz-linear-gradient(top, #FFFFFF 0%, #F0F0F0 100%);
    font-weight: bold;
    float: left;
    padding: 5px;
    text-shadow: 1px 1px 0 #FFFFFF;
    width: 10%;
    -moz-border-radius: 3px 0 0 3px;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
}
.field_list .field_list_body {
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-top: 1px solid #CCC;
    float: left;
    margin: 0;
    padding: 5px;
    width: 80%;
    -moz-border-radius: 0 3px 3px 0;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-box-shadow: 0 0 2px #DDDDDD;
    -webkit-box-shadow: 0 0 2px #DDDDDD;
}
.field_list .field_list_body ul {
    margin: 0;
    padding: 0;
}
.field_list .field_list_body ul li {
    cursor: pointer;
    list-style: none;
    display: inline;
    margin: 0 0 0 5px;
    padding: 0;
}

/* Draggables
 ----------------------------------------- */

.draggable {
    cursor: pointer;
    padding: 2px 4px;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
}
.dimension {
    background: #e5f6ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e9ef), to(#c2d5e2));
    background: -moz-linear-gradient(top, #e0e9ef 0%, #c2d5e2 100%);
    border: 1px solid #2a6085;
    color: #2a6085;
}
.measure {
    background: #ffe8e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf5f5), to(#fad9d9));
    background: -moz-linear-gradient(top, #fcf5f5 0%, #fad9d9 100%);
    border: 1px solid #ed9393;
    color: #983030;
}
.placeholder {
    background: #FFF;
    border: 1px dashed #777;
    color: #777;
    padding: 2px 4px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}

/* Table
 ----------------------------------------- */

.datatable {
    background: #FFF;
}
.datatable .int {
    text-align: right;
}
.datatable .str {
    text-align: left;
}
.datatable tr th {
    background: #FFF;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
    font-weight: bold;
}
.datatable tr td {
    background: #FFF !important;
    border-bottom: 1px solid #CCC;
    border-right: 1px solid #CCC;
}

/* Tree
 ----------------------------------------- */

.dtree,
.mtree {
    margin: 0;
    padding: 0;
}
.dtree li,
.mtree li {
    list-style-type: none;
    padding-left: 22px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.dtree li.collapsed,
.mtree li.collapsed {
    background: url('../../../images/src/tree_collapsed.png') 0px 2px no-repeat;
}
.dtree li.expand,
.mtree li.expand {
    background: url('../../../images/src/tree_expand.png') 0px 2px no-repeat;
}
.dtree li a,
.mtree li a {
    color: #222;
    text-decoration: none;
}
.dtree li a:hover {
    background: #e5f6ff;
}
.mtree li a:hover {
    background: #ffe8e8;
}
.dtree li a.folder_expand,
.mtree li a.folder_expand {
    background: url('../../../images/src/tree_folder_expand.png') 0px -1px no-repeat;
    padding-left: 20px;
}
.dtree li a.folder_collapsed,
.mtree li a.folder_collapsed {
    background: url('../../../images/src/tree_folder_collapsed.png') 0px -1px no-repeat;
    padding-left: 20px;
}

/* Waiting
 ------------------------------------------ */

.waiting {
    background: #FFF;
    border: 3px solid #EEE;
    display: inline-block;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-box-shadow: 0 0 3px #DDD;
    -webkit-box-shadow: 0 0 3px #DDD;
}
.waiting .waiting_inner {
    border: 1px solid #CCC;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
}
.waiting .waiting_inner .waiting_body {
    background: url('../../../images/src/waiting_loading.gif') 10px 11px no-repeat;
    padding: 10px 15px 10px 35px;
}
